<div class="container" align="center">
  <h1>Let's Delete a Note!</h1>
  <p>What note would you like to destroy?</p>

  <form action="/really" method="get">
    <select name="remove">
      <% @notes.each do |note| %>
      <option value=<%= note.id %>><%= note.title %></option>
      <% end %>
      <br><input type="submit" value="Delete">
    </select>
  </form>

  <form action="/" align="right" method="get">
    <input type="submit" value="Home!">
  </form>

</div>