<div class="container">
  <h1>Welcome to Notes!</h1>
  <p>What would you like to do?</p>

  <form name="route_to" method="POST">
    <select name="main_choice">
      <option value="List">Create a Note</option>
      <option value="Listings">List All Notes</option>
      <option value="Posting">Update a Note</option>
      <option value="Edit">Delete a Note</option>
      <br><input type="submit" value="Submit">
    </select>
  </form>

</div>
