<div class="container" align="center">
  <h1>Welcome to Notes!</h1>
  <p>What would you like to do?</p>

  <form name="route_to" method="POST">
    <select name="main_choice">
      <option value="Create">Create a Note</option>
      <option value="Read">List All Notes</option>
      <option value="Update">Update a Note</option>
      <option value="Destroy">Delete a Note</option>
      <br><input type="submit" value="Submit">
    </select>
  </form>

</div>
