<div class="container">
  <h1>Here's a List of All Notes!</h1>

  <ol>
    <% @notes.each do |note| %>
    <li><%= note.title %>:
    <%= note.content %></li><br><br>
    <% end %>
  </ol>

  <form action="/" align="right" method="get">
    <input type="submit" value="Home!">
  </form>
</div>