<div class="container" align="center">
  <h1>New Note!</h1>

  <form action='/create_note' method="post">
    <p>Title: </p>
      <input type="text" name="new_title"><br>
    <p>Content: </p>
      <textarea cols="40" rows="10" name="new_content">
      </textarea><br><br>
      <input type="submit" value="Post it!">
  </form>
  <br><br>

  <form action="/" align="right" method="get">
    <input type="submit" value="Home!">
  </form>
</div>
