<div class="container" align="center">
  <h1>Let's Update a Note!</h1>
  <p>What note would you like to update?</p>

  <form name="route_to" method="POST">
    <select name="main_choice">
      <% @notes.each do |note| %>
      <option value="Update"><%= note.title %></option>
      <% end %>
      <p>Title: </p>
        <input type="text" value="new_title">
      <br><p>Content: </p>
        <textarea cols="40" rows="10" value="new_content">
        </textarea>
      <br><br>
      <input type="submit" value="Update">
    </select>
  </form>

  <form action="/" align="right" method="get">
    <br><input type="submit" value="Home!">
  </form>

</div>