<div class="container" align="center">
  <h1>Are You Sure You Want to Delete this Note?</h1>

  <form action="/sure" method="get">
      <br><input type="submit" value="Delete">
  </form>

  <form action="/" align="right" method="get">
    <input type="submit" value="Home!">
  </form>

</div>